<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect /home to root
    RedirectMatch 301 ^/home$ /

    # CSP for internal testing purposes only.
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self' https://api.github.com"

    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteCond %{SERVER_NAME} =jobsaustralia.tech [OR]
    RewriteCond %{SERVER_NAME} =www.jobsaustralia.tech
    RewriteRule ^ https://jobsaustralia.tech%{REQUEST_URI} [END,QSA,R=permanent]
</IfModule>
