<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect /home to root
    RedirectMatch 301 ^/home$ /

    # Cache documents for four hours.
    <filesMatch ".(html|txt)$">
        Header set Cache-Control "max-age=14400, must-revalidate"
    </filesMatch>

    # Cache CSS and JavaScript for one week.
    <filesMatch ".(css|js)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>

    # Cache images for two weeks.
    <filesMatch ".(jpg|jpeg|png|ico|svg)$">
        Header set Cache-Control "max-age=1209600, public"
    </filesMatch>

    # Cache fonts for two weeks.
    <filesMatch ".(ttf|.woff|.woff2)$">
        Header set Cache-Control "max-age=1209600, public"
    </filesMatch>

    # Implement CSP via htaccess in development environments.
    <If "req('Host') = 'jobsaustralia.dev'">
        Header always set Content-Security-Policy "default-src 'none'; base-uri 'none'; connect-src 'self' https://api.github.com https://freegeoip.net; font-src 'self' https://fonts.gstatic.com; form-action 'self'; frame-ancestors 'none'; frame-src 'none'; img-src 'self'; manifest-src 'self'; media-src 'self'; object-src 'none'; sandbox allow-forms allow-popups allow-same-origin allow-scripts; script-src 'self'; style-src 'self' 'sha256-JW5uZv0Kcs4EnIoQJqdJJFP9HOH6hgd8icyuha3WlUI=' 'sha256-BYc9LFyz9out28kCQ3Nbtwf/lYv6DZW5gLpzDy5Rvf0=' https://fonts.googleapis.com; worker-src 'none'"
    </If>

    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteCond %{SERVER_NAME} =jobsaustralia.tech [OR]
    RewriteCond %{SERVER_NAME} =www.jobsaustralia.tech
    RewriteRule ^ https://jobsaustralia.tech%{REQUEST_URI} [END,QSA,R=permanent]
</IfModule>
